# Ignore node_modules folder
node_modules/

# Ignore build output


# Ignore development environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore Mac-specific files
.DS_Store

# Ignore package lock files
yarn.lock

